*, html {
    margin: 0;
    padding: 0;
}

.kt-container {
    height: auto;
    background-color: #FFFFFF;
}
.header {
    min-height: 30px;
    height: auto;
    padding: 15px;
    background-color: #333333;

}

.header .name-desc {
    text-align: center;
    font-size: 1.4rem;
    color: #FAFAFA;
}